* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 520px;
    text-align: center;
    padding: 10px;
}

#email,
#password,
#name,
#confirmPassword,
#role {
    width: 472px;
    padding: 10px;
    margin: 0px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#role {
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#password {
    padding-right: 30px;
    margin: 0px 20px;
}

.form-group {
    margin: 20px 0;
}

#togglePassword,
#toggleConfirmPassword {
    position: relative;
    top: -30px;
    right: -213px;
    font-size: 18px;
}

h2 {
    margin: 20px 0;
    font-weight: 700;
    font-family: "Poppins";

}

.btn {
    background-color: #00B207;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 43px;
    width: 472px;
    cursor: pointer;
    font-size: 16px;
}

.error-message {
    padding: 0px;
    margin: 0px 20px;
    display: none;
    color: red;
    font-size: 10px;
    margin: 0px 20px;
    text-align: left;

}

#loginButton {
    margin: 5px;
    transition: all 0.3s ease;
}


#loginButton:hover {
    background-color: white;
    color: #00B207;
    border: 1px solid #00B207;
}