* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    height: 80px;
    text-align: center;
    padding: 10px;
}
#liveToast {
    background-color: rgb(246, 111, 111);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    width: 400px;
}





.form-group {
    margin: 20px 0;
}

#togglePassword,
#toggleConfirmPassword {
    position: relative;
    top: -30px;
    right: -213px;
    font-size: 18px;
}

h2 {
    margin: 10px 0;
    font-weight: 700;
    font-family: "Poppins";

}

.btn {
    background-color: #00B207;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-family: "Poppins";
    font-size: 30px;
    height: 60px;
}

.error-message {
    padding: 0px;
    margin: 0px 20px;
    display: none;
    color: red;
    font-size: 10px;
    margin: 0px 20px;
    text-align: left;

}

#loginButton {
    margin: 5px;
    transition: all 0.3s ease;
}


#loginButton:hover {
    background-color: white;
    color: #00B207;
    border: 1px solid #00B207;
}